.heroLink1{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90px 98px 68px 142px 109px;
    grid-gap: 10px;
    justify-content: center;  
}

.heroLink1 a,
.heroLink2 a{
    border: 1px solid gray;               
    border-radius: 20px;
    border-color: none;
    padding: 10px;
    color: #000;
    font-family: $textStyle;
    font-size: 14px;
    font-weight: 400;
}