.main{
    width: 1440px;
    margin: 50px auto;
   *a:hover{
    color: blue;
    text-transform: uppercase;
   }
   
   *a{
    text-decoration: none;
    text-align: center; 
   }
}

